<h1>Home#index</h1>
<h1>Welcome to C++ Koans Online!</h1>
<h2>First simple koan</h2>
<p>Enter the answer in the box provided and hit the submit button</p>
<form>
  bool true = <input type="text" name="answer" value="">
  <input type="submit" id="submit" value="Submit">
</form>
<%= link_to "Koans", koans_path %>
