<h1>Home#index</h1>
<h1>Welcome to C++ Koans Online!</h1>
<h2>First simple koan</h2>
<p>Enter the answer in the box provided and hit the submit button</p>

<% @koans.each do |koan| %>
  <%= koan.question %>
  <%= koan.code[/(.*)___.*/, 1] %><input type="text" name="answer" value=""><%= koan.code[/.*___(.*)/, 1] %>
<% end %>

<input type="submit" id="submit" value="Submit">

